@cssId "1000" "base.css" {
.container {
  color: red;
}

}

@cssId "1000" "ae.css" {
.ae {
  background: green;
}

}

@cssId "1000" "aa.css" {
.aa {
  background: green;
}

}

@cssId "1000" "ab.css" {
.ab {
  background: green;
}

}

@cssId "1000" "ac.css" {
.ac {
  background: green;
}

}

@cssId "1000" "ad.css" {
.ad {
  background: green;
}

}

@cssId "1000" "a.css" {
body {
  background: red;
}

}

@cssId "1001" "base.css" {
.container {
  color: red;
}

}

@cssId "1001" "ba.css" {
.ba {
  background: green;
}

}

@cssId "1001" "bb.css" {
.bb {
  background: green;
}

}

@cssId "1001" "b.css" {
body {
  background: yellow;
}

}

@cssId "1002" "ca.css" {
.ca {
  display: flex;
}

}

@cssId "1002" "cb.css" {
.cb {
  display: flex;
}

}

@cssId "1002" "c.css" {
.c {
  display: grid;
}

}

.bg {
  color: red;
}

@cssId "1003" "db.css" {
.db {
  width: 42px;
}

}

@cssId "1003" "da.css" {
.da {
  height: 100px;
}

}

@cssId "1003" "d.css" {
.d {
  line-height: 24px;
}

}

.bg {
  color: red;
}

.bg {
  color: red;
}

.bg {
  color: red;
}

.bg {
  color: blue;
}

@cssId "1005" "common-false.css" {
.bg {
  color: blue;
}

}

