.test {
    height: 10px;
    top: .512rpx;
    left: 0.6ms;
    right: 10e-5s;
}

.test {
    height: +10%;
    top: -.512vh;
    left: +0.6vw;
    right: -10e-5px;
}

.test {
    height: +10%;
    right: 10e+5px;
}
