a { color: #111 !important; }
b { color: #111; }

c { color: #222; }
d { color: #222 !important; }

e { color: #333 !ie; }
f { color: #333; }

g { color: #444; }
h { color: #444 !ie; }

i { color: #555 !important; }
j { color: #555 !ie; }

k { color: #666 !ie; }
l { color: #666 !important; }

w {
  margin: 0 auto !important;
  margin: 0 5%;

  padding: 2px 4px !important;
  padding: 1px;

  color: green !important;
  color: red;

  text-align: center !important;
  text-align: left;
}
