.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  --lynx-display: flex;
  flex-direction: column;
}

x-swiper {
  height: 200px;
  width: 400px;
  background-color: orange;
}

x-swiper-item {
  width: 100%;
  height: 100%;
}

.btn {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
